In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv("https://github.com/codebasics/py/raw/master/ML/9_decision_tree/salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [ ]:
input= df.drop('salary_more_then_100k',axis='columns')
input

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [ ]:
target= df.drop(input,axis='columns')
target

    salary_more_then_100k
0                       0
1                       0
2                       1
3                       1
4                       0
5                       1
6                       0
7                       0
8                       0
9                       1
10                      1
11                      1
12                      1
13                      1
14                      1
15                      1

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le_company= LabelEncoder()
le_job= LabelEncoder()
le_degree= LabelEncoder()

In [ ]:
input['company_n']= le_company.fit_transform(input['company'])
input['job_n']= le_company.fit_transform(input['job'])
input['degree_n']= le_company.fit_transform(input['degree'])

In [ ]:
input.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [ ]:
inputs= input.drop(['company','job','degree'],axis='columns')
inputs

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [ ]:
from sklearn import tree

In [ ]:
model= tree.DecisionTreeClassifier()

In [ ]:
model.fit(inputs,target)

DecisionTreeClassifier()

In [ ]:
model.score(inputs,target)

1.0

In [ ]:
model.predict([[2,2,1]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])

# Exercise
* Titanic Survey Prediction

In [2]:
import pandas as pd

In [3]:
df= pd.read_csv("https://github.com/codebasics/py/raw/master/ML/9_decision_tree/Exercise/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [5]:
input= df.drop('Survived',axis='columns')
input

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [7]:
target= df.drop(input,axis='columns')
target

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [9]:
input.Sex= input.Sex.map({'male':0,'female':1})

In [19]:
input.Age= input.Age.fillna(input.Age.mean())

In [20]:
input.head()

   Pclass  Sex   Age     Fare
0       3    0  22.0   7.2500
1       1    1  38.0  71.2833
2       3    1  26.0   7.9250
3       1    1  35.0  53.1000
4       3    0  35.0   8.0500

In [21]:
input.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
xtrain,xtest,ytrain,ytest= train_test_split(input,target,test_size=0.2)

In [24]:
xtrain.size

2848

In [25]:
from sklearn import tree
model= tree.DecisionTreeClassifier()

In [26]:
model.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [29]:
model.score(xtest,ytest)

0.7653631284916201